[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rq = "*"

[dev-packages]
"flake8" = "*"
pycodestyle = "*"
docker-compose = "*"
ipython = "*"

[requires]
python_version = "3.6"
